<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <span>Gantt Chart by Jobwork Holder</span>
            <!-- Dropdown for selecting filter -->
            <div>
              <select (change)="onFilterChange($event)">
                <option value="today">Today</option>
                <option value="yesterday">Yesterday</option>
                <option value="month">Month</option>
                <option value="week">Week</option>
                <option value="quarter">Quarter</option>
                <option value="yearly">This Year</option>
                <option value="previousYear">Previous Year</option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Gantt chart display -->
          <div *ngIf="chartOptions" class="chart-container">
            <highcharts-chart
              [Highcharts]="Highcharts"
              [constructorType]="'ganttChart'"
              [options]="chartOptions"
              style="width: 100%; height: auto; display: block;">
            </highcharts-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div>
  
    <div *ngIf="selectedJobworkHolder">
      <h4>Jobwork Holder: {{ selectedJobworkHolder }}</h4>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          View Job Work IDs
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li *ngFor="let jobWorkId of jobworkHolderDetails[selectedJobworkHolder]">
            <a class="dropdown-item" href="#">{{ jobWorkId }}</a>
          </li>
        </ul>
      </div>
    </div>
  
   
    <div *ngIf="!selectedJobworkHolder">
      <p>Select a job work holder from the chart to see details.</p>
    </div>
  
   >
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="chartOptions"
      style="width: 100%; height: 400px; display: block;"
    ></highcharts-chart>
  </div>
   -->